<div style="background-image: url(./assets/images/ocean.jpg); height: 500px">
  <div class="container">
    <br>
    <h2>Empowering the Croatian dream of small business owners</h2>

    <p>Our mission is to create an unprecedented banking experience for small business owners nationwide,
      through service and technology. Bankify Trust is not your traditional bank. With a laser focus on
      innovation service and technoology, we bring efficiency and excellence to the lending process. We
      believe deeply in personal service and focus on taking care of our customers throughout the life.
    </p>

  </div>
</div>
